.header__helping {
  display: none;
  @media (min-width: 990px) {
    display: block;
    background: var(--background-color);
    .wrapper {
      display: grid;
      grid-template-columns: 8fr 4fr;
      padding: 5px 40px;
      .header__helping-content {
        .header__helping-description {
          font-family: var(--secondary-font-family);
          color: var(--alt-text-color);
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 700;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}
