.header__hero {
  padding: 120px 0 130px;
  color: var(--alt-text-color);
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 110px 0 30px;
    }
    .header__store {
      display: flex;
      flex-direction: column;
      align-items: center;
      .header__store-link {
        display: flex;
        justify-content: center;
        font-family: var(--secondary-font-family);
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--background-color);
        margin-bottom: 20px;
        @media (min-width: 768px) {
          display: flex;
          text-align: left;
          align-items: left;
          justify-content: left;
        }
      }
      .header__store-title {
        max-width: 400px;
        font-family: var(--primary-font-family);
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        @media (min-width: 768px) {
          max-width: 340px;
          text-align: left;
          font-size: 61px;
        }
        @media (min-width: 990px) {
          font-size: 68px;
        }
      }
      .header__store-descr {
        display: flex;
        max-width: 400px;
        text-align: center;
        font-family: var(--primary-font-family);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5rem;
        color: var(--alt-text-color);
        @media (min-width: 768px) {
          max-width: 280px;
        }
        @media (min-width: 930px) {
          max-width: 360px;
        }
        @media (min-width: 990px) {
          font-size: 20px;
          text-align: left;
        }
      }
      .header__store-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 180px;
        gap: 0.5rem;
        border: 1px solid var(--accent-color);
        background: var(--background-color);
        margin: 35px 0 0;
        padding: 15px 25px;
        @media (min-width: 768px) {
          align-items: left;
          justify-content: flex-start;
        }
        .store__btn-link {
          font-family: var(--primary-font-family);
          font-size: 14px;
          color: var(--alt-text-color);
          text-decoration: none;
        }
        .store__btn-icon {
          color: var(--alt-text-color);
        }
      }
    }
    .header__hero-promo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--secondary-font-family);
      margin: 40px 0;
      gap: 1rem;
      @media (min-width: 768px) {
        align-items: flex-end;
      }
      .promo__descr-letter {
        font-weight: 600;
      }
      .hero__promo-title {
        font-family: var(--primary-font-family);
        font-size: 20px;
        padding: 10px 0;
      }
      .hero__promo-date {
        font-size: 11px;
        color: var(--background-color);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      .hero__promo-btn {
        background: none;
        border: none;
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--alt-light-color);
        padding: 20px 0;
        cursor: pointer;
        @media (min-width: 768px) {
          margin: 15px 0 250px;
        }
      }
      .hero__promo-discount {
        font-family: var(--primary-font-family);
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        .promo__discount-letter {
          color: var(--background-color);
          margin: 0 8px 0;
        }
      }
    }
  }
}
